# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Relatórios gerados pelo projeto
reports/

# Executáveis
*.exe
*.out
*.bin

# Logs
*.log

# Distribuição
build/
dist/
*.egg-info/
